@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    background: #FFFFFF url("/img/fundo.jpg") no-repeat right top fixed;
    background-size: 100%;
}


header {
    width: 100%;
    height: 230px;
    background: radial-gradient(125% 125% at 50% -25%, #000000 0%, #000000 47.92%, rgba(0, 0, 0, 0) 100%);
    background-color: #2B67C1;
    position: absolute;
}


.container-grid {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: "Roboto";
}


.cabecalho-contatos {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}


.contatos {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contatos a{
    display: flex;
    align-items: center;
}

.rede-social a{
    padding-left: 5px;
    padding-right: 5px;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input[type="text"] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
}


.sobre {
    font-size: xx-small;
    padding-left: 10px;
}

.cadastro-compras{
    display: flex;
    justify-items: center;
    align-items: center;
}


.grid-menu {
    background-color: white;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    border-radius: 4px;
}


.box-search {
    background-color:white;
    border:solid 1px;
    border-radius:4px;
    width:550px;
}


#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:18px;
    border:none;
  }


  #btnBusca {
      padding-left: 20px;
      padding-top: 10px;
  }


.menu {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}


.menu a{
    color: black;
}


.swiffy-slider {
    top: 220px;
    width: auto;
    height: auto;
}


.titulo {
    margin-top: 17rem;
    position: absolute;
    font-size: 150%;
}


.card-destaque {
    display: grid;
    margin-top: 19rem;
    text-align: center;
}


.card-destaque p {
    font-size: 75%;
    color: #000000;
    margin-top: 10px;
}


.card-destaque .card {
    padding-left: 10px;
    padding-right: 10px;
}


.card {
    display: grid;
    justify-items: center;
    width: 225px;
    height: 400px;
    grid-row-end: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
}


.card .nome-produto {
    font-size: 15px;
    height: 0px;
}


.card .img-produto {
    margin-top: 25px;
}


.card img{
    max-width: 100%;
    max-height: 100%;
}


.card .valor {
    font-size: 27px;
    height: 15px;
} 


.card .condicao{
    font-size: 12px;
    height: 30px;
    width: 175px;
}


.botao-comprar{
    display: flex;
    align-items: center;
    background-color: #2B67C1;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    text-transform: uppercase;
}


.botao-comprar img{
    width: 25px;
    height: 25px;
}


.banner-promocao {
    display: grid;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 0px;
}


.titulo1 {
    margin-top: 3rem;
    position: absolute;
    font-size: 150%;
}

.card-jogar {
    display: grid;
    margin-top: 5rem;
    text-align: center;
}


/* carrossel */
.slider-marcas {
    margin-top: 5rem;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    display: grid;
    justify-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    padding-top: 15px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1050px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}


/* COLECIONÁVEIS */
.titulo1 {
    margin-top: 3rem;
    position: absolute;
    font-size: 150%;
}

.img-monte-pc{
    display: grid;
    justify-content: center;
    margin-top: 7rem;
    width: auto;
    background-color: aqua;

}

.line-rodape{
    display: grid;
    justify-content: center;
    width: auto;
    height: 1.5px;
    margin-top: 10%;
    background: #FFFFFF;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2rem;
    font-size: 16px;
    font-family: "montserrat";
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: 1px;
}

.primeira-coluna{
    display: grid;
    justify-items: start;
}

.primeira-coluna a{
    font-size: 13px;
} 
.segunda-coluna{
    display: grid;
    justify-items: start;
}
.segunda-coluna a{
    font-size: 13px;
} 
.terceira-coluna{
    display: grid;
    justify-items: start;
    line-height: 1.5;
}
.terceira-coluna a{
    display: flex;
    align-items: center;
    font-size: 13px;
} 